*{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #465065; 
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0% auto;
}
.head {
    background: url("../image/background.png") no-repeat center center/ cover;
    padding-bottom: 500px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px;
}
.menu ul a {
    color: #465065;
    margin-right: 30px;
}
.header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0 auto;
}
.dot {
    color: #465065;
}
.logo {
    background-color: #fa5c65;
    padding: 43px 14px 14px;
    border-radius: 0px 0px 10px 10px;
}
.logo a {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo a {
    color: white;
}
.button a {
    background-color: #fa5c65;
    padding: 15px 30px;
    border-radius: 5px;
}
.button a {
    color: white;
}
.container h1 {
    padding-top: 170px;
    width: 460px;
    font-weight: bold;
    font-size: 40px;
}
.dot2 {
    color: #fa5c65;
}
.container h4 {
    padding-bottom: 20px;
    font-size: 20px;
}
.column {
    float: left;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    color: #465065;
}
.column h2 {
    width: 194px;
    font-size: 25px;
    font-weight: bold;
    color: #465065;
}
.column a {
    width: 160px;
}
.column p {
    width: 280px;
    color: #465065;
}
.columns a {
    color: #fa5c65;
}
.portfolio h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.portfolio p {
    width: 500px;
}
.portfolio a {
    color: #fa5c65;
}
.team-content {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #465065;
    width: 200px;
}
.our {
    font-size: 25px ;
}
.team-content h2 {
    text-transform: uppercase;
    font-weight: bold;
}
.our-team {
    display: flex;
    justify-content:  flex-start;
    align-items: center;
}
.our-team h2{
    text-transform: uppercase;
    font-weight: bold;
}
.web {
    color: #fa5c65;
    font-weight: bold;
}
.our-team a{
    color: #fa5c65 ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.developer{
    padding-top: 30px;
    height: 50px;
    color: #465065;
}
.developer img{
  padding-right: 30px;
}
.end{
    padding-top: 150px;
}
.social{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.social img{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.line{
    color: #465065;
}