*{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #465065; 
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0% auto;
}
.head {
    background: url("../image/background.png") no-repeat center center/ cover;
    padding-bottom: 500px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul a {
    color: #465065;
    margin-right: 30px;
}
.header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0 auto;
}
.dot {
    color: #465065;
}
.logo {
    background-color: #fa5c65;
    padding: 43px 14px 14px;
    border-radius: 0px 0px 10px 10px;
}
.logo a {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo a {
    color: white;
}
.button a {
    background-color: #fa5c65;
    padding: 15px 30px;
    border-radius: 5px;
}
.button a {
    color: white;
}

.head h1 {
    padding-top: 170px;
    width: 460px;
    font-weight: bold;
    font-size: 40px;
}

.dot2 {
    color: #fa5c65;
}

.head p {
    padding-bottom: 20px;
    font-size: 20px;
}

.columns {
  display: flex;
}

.column {
    /* float: left; - используется для обтекаемости элементов, но не для построения сетки!!! */
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    color: #465065;
}

.column h2 {
    width: 194px;
    font-size: 25px;
    font-weight: bold;
    color: #465065;
}
.column a {
    width: 160px;
}
.column p {
    width: 280px;
    color: #465065;
}
.columns a {
    color: #fa5c65;
}

/* Portfolio */

.portfolio-content {
  display: flex;
  justify-content: space-between;
}

.portfolio .portfolio-content_text h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.portfolio .portfolio-content_text p {
    width: 500px;
}
.portfolio .portfolio-content_text a {
    color: #fa5c65;
}


/* Our Team */

.team {
    padding: 100px 0;
}

.team-content {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #465065;
    /* width: 200px; */
}
.our {
    font-size: 25px ;
}
.team-content h2 {
    text-transform: uppercase;
    font-weight: bold;
}
.our-team {
    display: flex;
    justify-content:  space-between;
    align-items: center;
}
.our-team h2{
    text-transform: uppercase;
    font-weight: bold;
}
.web {
    color: #fa5c65;
    font-weight: bold;
}
.team-content .arrow{
    color: #fa5c65 ;
}
.developer{
    display: flex;
    align-item: center;
    /* padding-top: 30px; */
    /* height: 50px; */
    color: #465065;
    /* width: 280px; */
}

.developer img{
  padding-right: 30px;
  height: 100%;
}

/*
.developer .developer-content a::before/after { /*Почитать про псевдо классы и псевдо элементы
  content: "&#x2192;"; Unicode symbols for CSS
}

*/

.footer-content {
  color: #B8C1C8;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.end{
    padding-top: 150px;
}
.social{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.social img{
    padding-right: 20px;
}
/* .line{
    color: #B8C1C8;
} */

.footer .line{
    padding-bottom: 1px;
    background-color: #B8C1C8;
}