*{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #465065; 
}
.container{
    width: 1200px;
    margin: 0% auto;
}
.head{
    background: url("../image/background.png") no-repeat center center/ cover;
    padding-bottom: 300px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px;
}
.header nav ul{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.menu ul a{
    color: #000;
    margin-right: 30px;
}
.dot{
    color: #000;
}
.logo{
    background-color: #fa5c65;
    padding: 43px 14px 14px;
    border-radius: 0px 0px 10px 10px;
}
.logo a{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo a{
    color: white;
}
.icon{
    padding: 15px;
}
.icon a{
    margin-right: 20px;
}
.button a{
    background-color: #fa5c65;
    padding: 15px 30px;
    border-radius: 5px;
}
.button a{
    color: white;
}
.container h1{
    padding: 200px 800px 5px 100px;
}
.button{
    padding: 0px 600px 0px 100px;
}
.dot2{
    color: #fa5c65;
}
.container h4{
    padding: 0px 600px 20px 100px;
}
.main{
    width: 1200px;
    padding: 60px 70px;
    display: flex;
    align-items: center;
}
.columns a{
    color: #fa5c65;
}
.columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column h2{
    width: 155px;
    padding-bottom: 10px;
    padding-left: 100px;
    }
.column a{
    width: 190px;
    padding-bottom: 10px;
    padding-left: 100px;
}
.column p{
    width: 250px;
    padding-bottom: 10px;
    padding-left: 100px;
}
.portfolio-text {
    display: inline;
    justify-content: center;
    align-items: center;
}
.portfolio{
    padding-left: 170px;
}
.portfolio{
    width: 900px;
}
.portfolio h1{
    padding-top: 60px;
    text-transform: uppercase;
}
.portfolio a{
    color: #fa5c65;
}
.team-content{
    padding-top: 150px;
    padding-left: 170px;
}
.team-content h1{
    text-transform: uppercase;
}
.our-team{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.our-team h2{
    text-transform: uppercase;
}
.our-team h2 p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.web {
    color: #fa5c65;
}
.our-team a{
    color: #fa5c65 ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 30px;
}
.developer{
    padding-top: 30px;
    height: 50px;
}
.developer img{
  padding-right: 30px;
}
.end{
    padding-top: 200px;
    padding-left: 170px;
}
.social{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.social img{
    padding-right: 20px;
    padding-top: 20px;
}
.line{
    color: #465065;
}